@use "./scss/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors
$Soft-orange: hsl(35, 77%, 62%);
$Sof-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

body {
  font-family: "inter", sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: $off-white;
}

img {
  display: block;
}

p {
  color: $dark-grayish-blue;
  &::first-letter {
    text-transform: uppercase;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;

  nav {
    img {
      cursor: pointer;
      @media (min-width: 768px) {
        display: none;
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1em;
      text-transform: capitalize;
      transition: right 0.3s;

      @media (max-width: 767px) {
        flex-direction: column;
        background-color: $off-white;
        position: absolute;
        right: -150px;
        top: 0;
        width: 150px;
        height: 100vh;
        padding: 1em;
      }
    }

    a {
      color: $dark-grayish-blue;
      display: block;
      &:hover {
        color: $Sof-red;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-areas:
    "bigImg bigImg sideNews"
    "question quickInfo sideNews"
    "topic1 topic2 topic3";
  gap: 1.5em;
  margin: 1em 0;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  > img {
    width: 100%;
    grid-area: bigImg;
  }

  > .side-news {
    grid-area: sideNews;
    background-color: $very-dark-blue;
    color: $off-white;
    padding: 1em;

    h1 {
      color: $Soft-orange;
    }
    .topic {
      padding: 1em 0;
      &:nth-of-type(2) {
        border: {
          width: 1px;
          style: solid;
          color: #aaa transparent;
        }
      }
    }
    h3 {
      text-transform: capitalize;
      padding-bottom: 10px;
      &:hover a {
        color: $Soft-orange;
      }
    }
    p {
      color: $grayish-blue;
    }
  }
  > h1 {
    grid-area: question;
    align-self: center;
    font: {
      weight: 900;
      size: 40px;
    }
  }

  > .quick-info {
    grid-area: quickInfo;
    a {
      padding: 1em 2em;
      background-color: $Sof-red;
      display: block;
      width: fit-content;
      margin-top: 2em;

      &:hover {
        background-color: $very-dark-blue;
      }
    }
  }

  > .topic {
    display: flex;

    &.topic1 {
      grid-area: topic1;
    }

    &.topic2 {
      grid-area: topic2;
    }

    &.topic3 {
      grid-area: topic3;
    }

    img {
      @include imgchange(100px);
      @media (max-width: 768px) {
        & {
          @include imgchange(60px);
        }
      }
    }

    h2 {
      color: $grayish-blue;
    }

    h4 {
      font-weight: 900;
      margin: 5px 0;
      &:hover {
        color: $Sof-red;
      }
    }

    p {
      font-size: 15px;
    }
  }
}

/*# sourceMappingURL=style.css.map */
